.skill-item {
  width: 75px;
}

.border-radius-none {
  border-radius: 0px !important;
}

.timeline {
  display: block;
  font-size: 0.75rem;
}

.timeline-item {
  width: 100%;
  display: flex;
  border-left: 1px solid #e3e3e3;
  padding-left: 1rem;
  min-height: 100px;
}

.timeline-item:before {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 3px;
  margin-left: 0.9rem;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  background: #e3e3e3;
  border-radius: 100%;
}

.timeline-content {
  flex-grow: 2;
  margin-left: 1rem;
}

.placeholder {
  height: 100vh;
  min-height: 1024px;
}

.repositories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.repository {
  padding: 1rem;
  font-size: 0.75rem;
  width: 100%;
  border-bottom: 1px solid #f7f7f7;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.repository-content {
  align-content: stretch;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  flex: 2;
  color: #6c757d;
}

.repository-footer {
  margin-top: 10px;
}

.repository-language {
  display: inline-block;
  float: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #2b7489;
  margin-right: 3px;
}
